<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div>
     User with e-mail: <b>{{email}}</b> is already registered
 </div>
</body>
</html>
