<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{#each users}}
    <div>Name: {{this.name}}, e-mail: {{this.email}} </div>
{{/each}}

</body>
</html>
